PORT=3000
NODE_ENV=development
FRONTEND_URL=http://localhost:3001
JWT_SECRET=change-this-secret
JWT_EXPIRATION_TIME=1h
BCRYPT_SALT_ROUNDS=10
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=technical-test
DATABASE_PASSWORD=1234
DATABASE_NAME=technical-test_db
STORAGE_SECRET_KEY=my-super-secret-storage-key
THROTTLE_TTL=60000
THROTTLE_LIMIT=10